<div class="main-container">
  
<div class="meme-container">
  <div class="container" (mouseup)="endDragging()"
  [style.width]="memeWidth"
  [style.height]="memeHeight"
  id="memeDownload">
    <!-- <div class="memeText1" 
    id="memeText1"
    [style.left]="leftPx"
    [style.top]="topPx"
    #memeTextDiv>{{memeText}}</div> -->
    <div #memeTextDiv 
    class="memeText1" (click)="check(field.id)"  
    *ngFor="let field of objs" 
    [id]="field.id" 
    [style.left]="field.left"
    [style.top]="field.top"
    [style.color]="field.color"
    [style.font-size]="field.fontSize"
    [ngClass]="{'active': field.active}"
    >
    {{field.text}}
  </div>
    <div class="iconContainer">
      <span class="plusicon"><i class="far fa-plus-square"></i></span>
    <span class="icontext"> Drop MEME Here</span>
    </div>
    <div class="memeContainer" [ngStyle]="{'background-image':'url(' + imgURL + ')'}">
  <!-- test -->
    </div>
    <input class="memeTemplate" type="file" id="meme" 
    (change)="submit(imgpath.files)"
    name="meme" ngModel #imgpath
    accept="image/png, image/jpeg, image/jpg">
    <!-- <button type="submit" >Check</button> -->
  </div>
</div>
<div class="meme-style">
  <div class="areaButtonsContainer">
    <div class="textFieldContainer">
      <textarea placeholder="Write the sentance you want to add..." type="text" (keyup.enter)="addText()" [(ngModel)]="memeText"></textarea>
    </div>
    <div class="controlButtonsField">
      <button class="btn btn-basic" (click)=addText()>Add Sentance</button>
      <button class="btn btn-generate" (click)=save()>Save MEME</button>
      <button class="btn btn-delete" (keyup.delete)=deleteText() (click)=deleteText() *ngIf="textClicked">Delete Sentance</button>
    </div>
  </div>
  <!-- <button class="btn" (click)=setColor()>Color Text</button> -->
  <!-- <img [src]="imgURL" alt="Loading..."> -->
  <!-- (mousemove)="dragText($event,memeTextDiv)"  -->
  <!-- (mousedown)="catchText($event,memeTextDiv)"  -->
  <!--  -->
  <!-- <div *ngIf="textClicked"> -->
    <div class="onestyle-box">
      <div class="onestyle-header">Text Font Size</div>
      <div class="onestyle-footer">
        <div class="onestyle-title">{{fontSize}}px</div>
        <div class="onestyle-value">
          <input type="range" min="5" max="50" value="25" [(ngModel)]="fontSize" (input)="setFontSize()" (change)="setFontSize()" class="slider" id="myRange" >
        </div>
      </div>
    </div>
    <div class="onestyle-box">
      <div class="onestyle-header">Text Color</div>
      <div class="onestyle-footer">
        <div class="onestyle-title">{{colorText}}</div>
        <div class="onestyle-value">
          <label for="textcolor">
            <input type="color" name="color" id="textcolor" [(ngModel)]="colorText" (input)="setTextColor()" (change)="setTextColor()">
          </label>
        </div>
      </div>
    </div>
    <div class="onestyle-box">
      <div class="onestyle-header">MEME Width</div>
      <div class="onestyle-footer">
        <div class="onestyle-title">{{tempMemeWidth}}px</div>
        <div class="onestyle-value">
          <input type="range" min="300" max="450" value="450" [(ngModel)]="tempMemeWidth" (input)="setDimentions()" (change)="setDimentions()" class="slider" id="myRange" >
        </div>
      </div>
    </div>
    <div class="onestyle-box">
      <div class="onestyle-header">MEME Height</div>
      <div class="onestyle-footer">
        <div class="onestyle-title">{{tempMemeHeight}}px</div>
        <div class="onestyle-value">
          <input type="range" min="300" max="600" value="550" [(ngModel)]="tempMemeHeight" (input)="setDimentions()" (change)="setDimentions()" class="slider" id="myRange" >
        </div>
      </div>
    </div>
  <!-- </div> -->
</div>

</div>